{% extends 'base.html' %}
{% block content %}

<h1>Sneaker Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ sneaker.name }}</span>
        <p>Brand: {{ sneaker.brand }}</p>
        <p>Release Date: {{sneaker.date }}</p>
        <p>Description: {{ sneaker.description }}</p>
        {% if sneaker.price > 0 %}
          <p>Original Price: ${{ sneaker.price }}</p>
        {% else %}
          <p>Price: Unavailable</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'sneakers_update' sneaker.id %}">Edit</a>
        <a href="{% url 'sneakers_delete' sneaker.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">

    <form action="{% url 'add_worn' sneaker.id %}" method="POST">
      {% csrf_token %}
      {{ worn_form.as_p }}
      <input type="submit" class="btn" value="Add">
    </form>
    <br>
    {% if sneaker.worn_today %}
      <div class="card-panel teal-text center-align">You wore your {{sneaker.name}} today</div>
    {% else %}
      <div class="card-panel teal-text center-align">You didn't wear your {{sneaker.name}} today</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Place</th></tr>
      </thead>
      <tbody>
        {% for worn in sneaker.worn_set.all %}
          <tr>
            <td>{{worn.date}}</td>
            <td>{{worn.get_place_display}}</td>
          </tr>
          {%  endfor %}
      </tbody>
    </table>
  </div>
</div>
  <hr>
<div class="row">
	<div class="col s6">
		<h3>{{ sneaker.name }}'s Sneaker Protectors</h3>
    {% if sneaker.protectors.count %}
      {% for protector in sneaker.protectors.all %}
        <div class="card">
			<div class="card-content">
				<span class="card-title">
            <span style="color: {{ protector.color }}">{{ protector.color }}</span> {{ protector.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Sneaker Protectors :(</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Sneaker Protectors</h3>
    {% if protectors.count %}
      {% for protector in protectors.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ protector.color }}">{{ protector.color }}</span> {{ protector.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_protector' sneaker.id protector.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{sneaker.name}} Already Has All Sneaker Protectors Available</h5>
    {% endif %}
  </div>
</div>
<script>
  // Configure the datepicker
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });

  //Configure the select tag
  const selectEl = document.getElementById('id_place');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}