{% extends 'base.html' %}
{% block content %}

<h1>Sneaker Details</h1>

  <div class="card">
      <div class="card-content">
        <span class="card-title">{{ sneaker.name }}</span>
        <p>Brand: {{ sneaker.brand }}</p>
        <p>Release Date: {{sneaker.date }}</p>
        <p>Description: {{ sneaker.description }}</p>
        {% if sneaker.price > 0 %}
          <p>Original Price: ${{ sneaker.price }}</p>
        {% else %}
          <p>Price: Unavailable</p>
        {% endif %}
      </div>
  </div>

{% endblock %}